body{
  text-align: left;
}
header{
	width: 100%;
  height: 90px;
  padding-left: 5%;
  background-size:cover;
  background-color: #9eecff;
}
footer{
	width: 100%;
  min-height: 50px;
  background-size:cover;
  background-color: #9eecff;
}
#wrapper
{
  display: flex;
  flex-direction: column;
}

nav
{
  background-color: #f0f6fb;
  width: 100%;
  padding-left: 5%;
  font-size: 150%;
}

#h1{
    font-family: 'Arial', Times, serif;
    font-size: 32px; 
    line-height: 2;
}
#img {
    float: left;
    height: 64px;
    padding-right: 45px;
  }
  #menu1,#menu2,#menu3{
    flex:1;
  } 
  a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
  }
  /* ol {
    padding: 0;
    margin-left: 20px;
   } */
  /* .nav ul {
    padding: 0;
    background: #E4EFD1;
    
  }
  .nav li {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }
  .nav a {
    padding: 1em;
    display: block;
    color: #74924C;
    border-right: 1px solid #BAD78B;
    background: rgba(186, 215, 139, .3);
  }
  .nav a:hover {background: #BAD78B} */

  th {
  font-weight: normal;
  color: #039;
  padding: 10px 15px;
}
td {
  color: #669;
  border-top: 1px solid #e8edff;
  padding: 10px 15px;
}
tr:nth-child(2n) {background: #e8edff;}
tr:nth-child(2n+1) {background: #b1beee;}
#container
{
  display: flex;
  flex-direction: column;
}
.content{
  width: 100%;
	background-color: rgba(202, 255, 253, 0.77);
  padding-left: 10px;
}

#ol
{
  order: 1;
}
#table
{
  order: 3;
}
#forma
{
  order:2;
}
table{
  width: 400px;
  height: 200px;
}


@media screen and (min-width: 576px){

   #img{
    width:80px;
    float:left;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 10%;
  }

  .content{
  	max-width: 960px;
    margin:auto;
  }

  #wrapper
  {
    flex-direction: row;
  }

  #ol
  {
    order: 1;
  }
  #table
  {
    order: 2;
  }
  #forma
  {
    order:3;
  }

  nav
  {
    max-width: 960px;
    margin: auto;
    height: 50px;
    display:flex;
    text-align: center;
    font-size: 200%;
    padding-left: 10px;
  }

}
